MONGO_URI=mongodb+srv://<usuario>:<password>@cluster0.xxxxx.mongodb.net/casa-gastos?retryWrites=true&w=majority
JWT_SECRET=reemplaza_con_una_clave_larga_y_random
PORT=3001
CLIENT_URL=http://localhost:5173
NODE_ENV=development
